.uniqueItem {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 15px 0;
    .itemDisplay {
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .itemName {
        font-weight: bold;
        color: hsla(51, 24, 45, 1);
    }
    .calculatedAC,
    .text-blue {
        color: hsla(236, 44, 50, 1);
    }
}