.uniqueItemList {
  list-style: none;
  padding: 0;
  background-color: hsla(0, 0, 10, 1);
  & > li {
    list-style: none;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    color: hsla(0, 0, 69, 1);
    background-color: #000;
    margin-bottom: 10px;
  }
}